@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #FFF;
}

.wrap-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #222;
  border-radius: 20px;
  margin: 20px 0;
}
.wrap-item img {
  display: block;
  max-width: 100px;
}
.item-title{
font-weight: 600;
}
.item-text{
  font-size: 14px;
  color: #868686;
}
.qr-code{
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrap-data{
  font-size: 16px;
}